/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Grid
  ========================================
*/


body {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  width: 960px;
}

header {
  margin: 60px 0 20px 0;
}

footer {
  clear: both;
  margin: 70px 0 10px 0;
  padding-top: 10px;
  border-top: 1px solid #38C736;
}

footer.sticky {
  position: fixed;
  bottom: 0;
  width: inherit;
  z-index: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

h1 {
  font-size: 30px;
  text-transform: uppercase;
}

h2 {
  font-size: 26px;
  text-transform: uppercase;
  padding-left: 5px;
}

.elements p {
  margin: 10px 0;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

strong {
  font-weight: 600;
}

/*
  ========================================
  Site content
  ========================================
*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #38C736;
  z-index: 1;
}

.menu {
  width: 960px;
  margin: 0 auto;
  padding-left: 0;
  line-height: 40px;
}

.menu li {
  font-size: 20px;
  display: inline;
  text-transform: uppercase;
  padding-right: 30px;
}

.visualisation {
  margin: 20px auto;
}

.visualisation img {
  width: 100%;
}

.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
}

.elements {
  float: left;
  width: 33.33%;
}

.project_13 .clear,
.project_skwerek .clear{
  margin-bottom: 40px;
}

.icons-spacing {
  margin: 0 20px 0 0;
}

.voting h2,
.skwerek-aims-heading h2 {
  height: 40px;
  line-height: 40px;
  background-color: #38C736;
  margin: 20px 0;
}

.voting-online {
  float: left;
  width: 30%;
}

.voting-onsite {
  float: right;
  width: 70%;
}

.voting-online a {
  font-size: 18px;
  background: #38C736;
  padding: 20px 40px;
  transition: all .5s;
  color: black;
  display: inline-block;
}

.voting-online a:hover {
  background: #078F07;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

i {
  width: 20px;
}

nav ul,
.elements ul,
.voting-onsite ul,
.skwerek-aims-content ul,
.about-us-completed ul {
  list-style-type: none;
}

.about-us-completed {
  float: left;
  width: 60%;
}

.about-us-completed ul {
  padding-left: 30px;
  padding-top: 10px;
}

.about-us-logo {
  float: right;
  width: 40%;
}

.about-us-logo img {
  width: 200px;
}

.skwerek-plan {
  float: left;
  width: 60%;
}

.skwerek-plan img {
  width: 100%;
}

.skwerek-legend {
  float: left;
  width: 40%;
  padding-left: 20px;
}

.skwerek-legend p {
  font-weight: 600;
}

.skwerek-legend ol {
  margin-left: 15px;
}

.skwerek-legend li,
.skwerek-aims-content li,
.about-us-completed li {
  padding-top: 7px;
}

.skwerek-aims-content {
  padding-right: 40px;
  float: left;
  width: 70%;
}

.skwerek-statute {
  float: right;
  width: 30%;
  padding: 15px;
  margin-top: 50px;
  border: 2px solid #38C736;
}

.skwerek-stages {
  margin-top: 20px;
}

.breadcrumb {
  overflow: hidden;
  font: 18px;
}
.breadcrumb li {
  float: left;
}
.breadcrumb li a {
  color: black;
  text-decoration: none;
  padding: 10px 0 10px 45px;
  background: #38C736;
  position: relative;
  display: block;
  float: left;
}

.breadcrumb li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #38C736;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.breadcrumb li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.breadcrumb li:first-child a {
  padding-left: 15px;
}
.breadcrumb li:nth-child(2) a       { background:        #38C736;}
.breadcrumb li:nth-child(2) a:after { border-left-color: #38C736;}
.breadcrumb li:nth-child(3) a       { background:        #5CE45C;}
.breadcrumb li:nth-child(3) a:after { border-left-color: #5CE45C;}
.breadcrumb li:nth-child(4) a       { background:        #93F993;}
.breadcrumb li:nth-child(4) a:after { border-left-color: #93F993;}

@media (max-width: 960px) {
  body {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .menu {
    width: 100%;
  }
  .voting-online a {
  font-size: 12px;
  padding: 1.5% 3%;
  }
}
